.container.menu {
  max-width: 732px;
}

.menu .col-sm-4 {
  text-align: center;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.content.row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-menu {
  width: 200px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #888888;
  behavior: url(PIE.htc); /* IE fix. */
}
.btn-menu:hover {
  border: 1px solid #ccc;
}

.btn-exam {
  display: inline-block;
  overflow: hidden;
  margin: 4px;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #888888;
  behavior: url(PIE.htc); /* IE fix. */
  background-image: url(../i/menu-exam.png);
}
.btn-exam table {
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.btn-exam td {
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  behavior: url(PIE.htc); /* IE fix. */
  vertical-align: middle;
}
.btn-exam td:hover {
  border: 1px solid #fff;
  border-radius: 10px;
  behavior: url(PIE.htc); /* IE fix. */
}
.btn-exam #fr {
  margin: auto;
  width: 32px;
  height: 20px;
  background-image: url(../i/flag_fr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-exam #de {
  margin: auto;
  width: 32px;
  height: 20px;
  background-image: url(../i/flag_de.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
