.container.school .tablerow .cell {
  text-align: right;
}

.container.school .tablerow .cell:first-child {
  text-align: left;
  width: 100%;
}
.container.school #school .tablerow .cell.ctrl {
  width: 80px
}

.container.school #school .tablerow .cell.ctrl span {
  padding: 3px 8px;
  cursor: pointer;
}

.container.school #school .tablerow .cell.ctrl span:hover {
  color: #539BE1;
}
