.container.school #schoolstat #visits {
  text-align: center;
}
.container.school #schoolstat #examgraph, .container.school #schoolstat #topics .graph {
  width: 20px;
  height: 20px;
}

.row.empty p {
  margin-bottom: 0px;
  text-align: center;
}
