.container.startup {
  max-width: 550px;
}

.topspace {
  height: 20px;
}

@media (min-width: 768px) {
  .topspace {
    height: 50px;
  }
}

.startup-img {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}

.loginpanel {
  margin-top: 10px;
  border-radius: 10px;
  /*border: 1px solid #e5e5e5;*/
  box-shadow: 0 0 5px #666; 
  -moz-box-shadow: 0 0 5px #666; 
  -webkit-box-shadow: 0 0 5px #666; 
  behavior: url(css/PIE.htc); /* IE fix. */
}

.loginpanel .row {
  margin-left: 0;
  margin-right: 0;
}

.loginpanel .col-md-12 form {
  margin: 10px;
}

.loginpanel span {
  margin-left: 4px;
  margin-right: 4px;
}

.fb-login-button {
  width: 80px;
  height: 24px;
  background: red;
  display: inline-block;
  vertical-align: middle;
}

.loginpanel .form-group.bottom .col-sm-2 {
  padding-left: 0px;
}

.loginpanel .form-group.bottom .col-sm-10 {
  padding-left: 0px;
  padding-right: 0px;
}

.loginpanel .form-group.bottom .col-sm-2,
.loginpanel .form-group.bottom .col-sm-10 {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}
.loginpanel .form-group.bottom p {
  margin: 0px;
}
