@font-face {
  font-family: 'MyriadProRegular';
  src: url('../font/myriadpro-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../font/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/myriadpro-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../font/myriadpro-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/myriadpro-regular-webfont.svg#svgMyriadProRegular') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'MyriadProRegular', serif;
}

/* Busy layer. */

#busy_layer {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  text-align: center;
  color: #102F68;
  font-size: 18px;
}
#busy_layer > div {
  display: table;
  width: 100%;
  height: 100%;
}
#busy_layer > div > div  {
  display: table-cell;
  vertical-align: middle;
}
#busy_layer > div > div > div {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 0 2px #E5E5E5;
  -moz-box-shadow: 0 0 2px #E5E5E5;
  -webkit-box-shadow: 0 0 2px #E5E5E5;
  behavior: url(../PIE.htc); /* IE fix. */
}

/* Content container. */

.container {
  position: relative;
}

.container .contentpanel {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  -webkit-box-shadow: 0 0 5px #666;
  behavior: url(../PIE.htc); /* IE fix. */
}

.container .header {
  text-align: center;
}

.container .hline {
  margin-right: 20px;
  margin-left: 20px;
  border-top: 1px solid #E8ECEF;
}

.footer-space {
  padding: 10px;
}

.footer {
  text-align: center;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 1px;
  background: #2579CF;
  background: -moz-linear-gradient(top, #2579CF, #0358AB);
  background: -webkit-linear-gradient(top, #2579CF, #0358AB);
  background: -o-linear-gradient(top, #2579CF, #0358AB);
  background: linear-gradient(top, #2579CF, #0358AB);
  -pie-background: linear-gradient(top, #2579CF, #0358AB);
  behavior: url(../PIE.htc); /* IE fix. */
  padding: 18px;
}

.footer a.button {
  color: #FFF;
  text-decoration: none;
}

.footer a.button.current {
  text-shadow: 0 0 0.2em #FFFFFF;
}

.footer a.button:hover {
  text-shadow: 0 0 0.2em #FFFFFF;
}

/** Top navigation bar. */

.navbar {
  border: none;
  margin-bottom: 0;
  margin-top: 4px;
  min-height: 36px;
}

.navbar-header.no-button button {
  display: none;
}

.navbar .navbar-brand {
  height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 21px;
  font-size: 12px;
}
.navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar .navbar-toggle {
  margin-bottom: 0;
  margin-top: 0;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #000;
}

.nav.navbar-right a {
  font-size: 12px;
}

.nav li > a:last-child {
  margin-right: -15px;
  margin-left: 15px;
  padding-right: 22px;
  padding-left: 22px;
}

.nav .active > a, .nav li > a:focus {
  color: #fff;
  background-color: #2479CC;
}
.nav li > a:hover {
  color: #fff;
  background-color: #539BE1;
}

/* Top express bar. */

.express-bar {
  position: fixed;
  top: 0;
  z-index: 899;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #CCC;
}

.express-bar a {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Rows. */

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Used in conjunction with 'row'. */
.separator {
  color: #fff;
  background-color: #2479CC;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Row with 3 cells. */

.tablerow {
  display: block;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 1px solid #E8ECEF;
  text-decoration: none;
  color: #102F68;
}

.tablerow:last-child {
  border-bottom: 1px solid transparent;
}

.tablerow .content {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.tablerow .cell {
  display: table-cell;
  vertical-align: middle;
  padding: 0.5em;
}

.tablerow .cell:first-child {
  width: 100%;
}

.tablerow .cell:first-child img {
  width: 100%;
  height: auto;
}

.tablerow .cell:first-child, .tablerow .cell:last-child {
  text-align: center;
  width: 50px;
}

.tablerow .cell .glyphicon {
  color: #ccc;
}

a.tablerow:hover {
  color: #000;
  text-decoration: none;
  background-color: #F2F4F6;
}

/* Question row items. */

.question-id {
  display: block;
  font-weight: bold;
}

.question-answer {
  font-weight: bold;
  color: #fff;
  padding: 4px 20px;
}

.question-answer.correct {
  background-color: #6a9077;
}

.question-answer.wrong {
  background-color: #c9463e;
}

p.info {
  padding: 21px;
  text-align: center;
}
