<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quiz Platform</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/new_style.css') }}" />

<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/account.js') }}"></script>
<script src="{{ url_for('frontend.static', filename='js/graph/raphael-min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('frontend.static', filename='js/graph/g.raphael.js') }}" type="text/javascript"></script>
<script src="{{ url_for('frontend.static', filename='js/graph/g.line.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('frontend.static', filename='js/graph/g.pie.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/organictabs.jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/moment.min.js') }}"></script>

<!--Please wait-->
<link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='js/please_wait/pleasewait.css') }}">
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/please_wait/pleasewait.js') }}"></script>
<!--Please wait-->

<script>
    function showExamErrors(data)
    {
        var id;
        var html = "";

        // Back button
        html = '<li class="examid">';
        html += '<a class="lustre-button" id="back" style="cursor:pointer; font-size:14px">';
        html += 'TORNA AL MENU</a>';
        html += '</li>';
        $("#examlist").append(html);
        html = "";

        // Exam title
        var exam_date = moment(data.exam.end + ":00 Z");
        var good_answers = 40 - data.exam.errors;
        html += '<li class="examid">';
        html += '<a class="lustre-button" style="cursor:pointer">';
        html += 'Esame ' + data.exam.id + '&nbsp;('
             +  good_answers + '/40)' + '&nbsp;&nbsp;&nbsp;&nbsp;'
             +  exam_date.toDate().toLocaleString() + '</a>';
        html += '<ul>';

        // Exam answers
        for (i = 0; i < data.questions.length; i++) {
            id = data.questions[i].id + '_' + i;

            var result, bkcolor;
            if (data.questions[i].is_correct == 1)
                bkcolor = '#468847';
            else
                bkcolor = '#b94a48';
            if (data.questions[i].answer == 1)
                result = 'V';
            else
                result = 'F';

            var root = location.protocol + '//' + location.host;
            var image = root + "/img/" + data.questions[i].image + ".jpg";
            var img = '<div class="qimg" style="background-image: url(';
            img += "'" + image + "')" + '"></div>';

            html += '<li><div class="row">';
            html += '<div class="item" style="width:40px; padding:0">' + img + '</div>';
            html += '<div class="item" style="width:80%;text-align:left;padding:0"><a>';
            html += '<span style="font-size: 14px; font-weight:bold">' + data.questions[i].id + '</span><br>';
            html += data.questions[i].text + '</a></div>';
            html += '<div class="item">';
            html += '<div style="font-size: 14px; font-weight:bold; padding:5px; background:' + bkcolor + '"">' + result + '</div>';
            html += '</div>';
            html += '</div></li>';
        }

        html += '</ul>';
        html += '</li>'
        $("#examlist").append(html);

        $('#examlist .examid #back').click(function(){
            window.location = "{{ url_for('frontend.student', quiz_name=quiz_name) }}";
        });

        alert('Numero errori: ' + data.exam.errors);
    }

    $(document).ready(function() {
        var student_name = sessionStorage.getItem("quizname");
        var exam_id = getUrlParameterByName("exam_id");

        if (student_name == null || exam_id == "")
            return;

        var lang = getUrlParameterByName("lang");

        if (lang == "")
            lang = "it";

        $("#student_stat .header .item a").html(student_name);
        $('#backbut').click(function(){
            window.location = "{{ url_for('frontend.student', quiz_name=quiz_name) }}";
        });

        WaitMsg.show();

        var d = {}
        d.lang = lang;

        $.getJSON(url("/v1/exam/" + exam_id), d, function(data) {
            WaitMsg.hide();
            if (data.status != 200) {
                var user = sessionStorage.getItem('quizutype');
                if (user == 'guest' && data.status == 403) {
                    showGuestAccessError();
                    window.location = "{{ url_for('frontend.student', quiz_name=quiz_name) }}";
                }
                else
                  aux_showJSONError(data);
            }
            else
                showExamErrors(data);
        });
    });
</script>

</head>

<body>
    <div id="work_area">
        <div id="student_stat" class="content-box">
            <div class="header">
                <div class="item">
                    <a href="#" id="bttAccount" class="lustre-button-dark"></a>
                </div>
            </div>

            <ul id="examlist" class="collapsable-list"></ul>

            <div class="footer">
                <div class="item">
                    <a href="#" id="backbut" class="lustre-button">TORNA AL MENU</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
