<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quiz Platform</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/style.css') }}" />
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/es5-shim.min.js') }}"></script> <!-- for IE < 9 -->
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/cookie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/app.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/quiz.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/switch/jquery.iphone-switch.js') }}"></script>
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/jquery.mousewheel.js') }}"></script>

<!--Please wait-->
<link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='js/please_wait/pleasewait.css') }}">
<script type="text/javascript" src="{{ url_for('frontend.static', filename='js/please_wait/pleasewait.js') }}"></script>
<!--Please wait-->
<script type="text/javascript">
    is_reduced = false;
    window.topic = {{ topic }};
    window.back_url = "{{ url_for('frontend.student', quiz_name=quiz_name) }}";
    window.url_scrollupsel = "{{ url_for('frontend.static', filename='img/scrollUpSel.png') }}";
    window.url_scrollup = "{{ url_for('frontend.static', filename='img/scrollUp.png') }}";
    window.url_scrolldsel = "{{ url_for('frontend.static', filename='img/scrollDownSel.png') }}";
    window.url_scrolld = "{{ url_for('frontend.static', filename='img/scrollDown.png') }}";
    window.url_true = "{{ url_for('frontend.static', filename='img/true.png') }}";
    window.url_false = "{{ url_for('frontend.static', filename='img/false.png') }}";
    window.url_true_sel = "{{ url_for('frontend.static', filename='img/true_selected.png') }}";
    window.url_false_sel = "{{ url_for('frontend.static', filename='img/false_selected.png') }}";

    window.iphone_cfg = {
		switch_on_container_path: "{{ url_for('frontend.static', filename='img/iphone_switch_container_on.png') }}",
		switch_off_container_path: "{{ url_for('frontend.static', filename='img/iphone_switch_container_off.png') }}",
		switch_path: "{{ url_for('frontend.static', filename='img/iphone_switch.png') }}"
    };
</script>
</head>

<body>
    <div id="work_area">
        <div id="quizarea" style="width:950px; height:440px; background-color:#315f91; position:relative">

            <div id="topic" style="width:722px; height: 90px; color:#ffffff; float:left">
                <h1 style="margin:20px">quiz topic</h1>
            </div>

            <div id="switch" style="width:200px; height:90px; float:left">
                <h2 style="float:left; margin-top:20px; color:white">Risposte</h2>
                <div id="iswitch" style="float:left; margin-left:10px; margin-top:20px"></div>
            </div>
            <div id="imagearea">
                <div><img></img><span></span></div>
            </div>
            <div id="quizarea" style="width:750px; float:left">
                <div id="quizlistarea" style="width:710px; float:left">
                    <!-- 1 -->
                    <div id="quiz01" style="height:40px;">
                        <div class="text" style="background-color:#4c739f;">
                        </div>
                        <div class="answer" style="background-color:#4c739f;">
                            <img class="topt" src="{{ url_for('frontend.static', filename='img/true.png') }}"/>
                            <img class="fopt" src="{{ url_for('frontend.static', filename='img/false.png') }}" />
                        </div>
                    </div>

                    <!-- 2 -->
                    <div id="quiz02" style="height:40px;">
                        <div class="text" style="background-color:#869fbb;">
                        </div>
                        <div class="answer" style="background-color:#869fbb;">
                            <img class="topt" src="{{ url_for('frontend.static', filename='img/true.png') }}"/>
                            <img class="fopt" src="{{ url_for('frontend.static', filename='img/false.png') }}" />
                        </div>
                    </div>

                    <!-- 3 -->
                    <div id="quiz03" style="height:60px;">
                        <div class="maintext">
                            <p></p>
                        </div>
                        <div class="answer" style="margin:10px 10px; height:50px; line-height:50px; background-color:#ffffff;">
                            <img id="tbutton" class="topt" src="{{ url_for('frontend.static', filename='img/true.png') }}" style="margin-top:12px"/>
                            <img id="fbutton" class="fopt" src="{{ url_for('frontend.static', filename='img/false.png') }}" style="margin-top:12px"/>
                        </div>
                    </div>

                    <!-- 4 -->
                    <div id="quiz04" style="height:40px;">
                        <div class="text" style="background-color:#869fbb;">
                        </div>
                        <div class="answer" style="background-color:#869fbb;">
                            <img class="topt" src="{{ url_for('frontend.static', filename='img/true.png') }}" />
                            <img class="fopt" src="{{ url_for('frontend.static', filename='img/false.png') }}" />
                        </div>
                    </div>

                    <!-- 5 -->
                    <div id="quiz05" style="height:40px;">
                        <div class="text" style="background-color:#4c739f;">
                        </div>
                        <div class="answer" style="background-color:#4c739f;">
                            <img class="topt" src="{{ url_for('frontend.static', filename='img/true.png') }}" />
                            <img class="fopt" src="{{ url_for('frontend.static', filename='img/false.png') }}" />
                        </div>
                    </div>
                </div>
                <div id="scrollbararea" style="width:25px; background-color:#fff; float:left; border-radius: 15px 15px 15px 15px; position:relative">
                    <div id="scrollup" style="position:absolute; top:0px; width:25px; height:25px; background-image:url('{{ url_for("frontend.static", filename="img/scrollUp.png") }}'); cursor:pointer">
                    </div>
                    <div id="scrolldown" style="position:absolute; bottom:0px; width:25px; height:25px; background-image:url('{{ url_for("frontend.static", filename="img/scrollDown.png") }}'); cursor:pointer">
                    </div>
                </div>
            </div>

            <div style="width:100%; float:left; height:80px; margin-top:20px; background-color:#142f66">
                <a class="button" id="backbut" style="margin:15px; padding:10px; font-size:22px; float:left; margin-left:100px">
                    Torna al Menu
                </a>
                <a class="button" id="endbut" style="margin:15px; padding:10px; font-size:22px; float:right; margin-right:100px">
                    Correggi
                </a>
            </div>
        </div>
    </div>
</body>

</html>
