{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %} lang="{{ curent_lang }}"{% endblock %}

{% block head -%}
  {{super()}}
  {{fixes.ie8()}}
{% endblock %}

{% block title %} {% block subtitle %}{% endblock%} &mdash; {{ _('Quiz Platform') }}{% endblock %}

{% block content -%}
  <div class="container {% block content_class %}{% endblock %}">
    {% block container -%}
    {%- endblock %}
    </div>
{%- endblock %}

{% block styles %}
{{super()}}
  {% assets "ui.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
  {% endassets %}
{%- endblock %}

{% block scripts %}
  {{ super() }}
  {% assets "base_libs.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "ui.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{%- endblock %}
