{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %} lang="{{ curent_lang }}"{% endblock %}

{% block head -%}
  {{super()}}
  {{fixes.ie8()}}
{% endblock %}

{% block title %}{% block subtitle %}{% endblock%} &mdash;
  {%- if quiz_title is defined -%}
    {{ quiz_title }} &mdash;
  {%- endif %}
  {{ _('Quiz Platform') }}
{%- endblock %}

{% block body %}
  <div id="busy_layer">
    <div>      <!-- table -->
      <div>    <!-- cell -->
        <div>  <!-- box -->
          <img src="{{ url_for('.static', filename='base/i/preloader.gif') }}">
          <br><span>{{  _('Please wait ...') }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bs-example-modal-sm" id="infobox" tabindex="-1" role="dialog" aria-labelledby="infoboxLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
          <h4 class="modal-title" id="infoboxLabel"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>

  {{ super() }}
{% endblock %}

{% block content -%}
  <div class="container {% block content_class %}{% endblock %}">
    {% block container -%}
    {%- endblock -%}
  </div>  <!-- /container -->
{%- endblock %}

{% block styles %}
{{super()}}
  {% assets "ui.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
  {% endassets %}
{%- endblock %}

{% block scripts %}
{{super()}}
  {% block script_include %}
    {% assets "base.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% endblock %}
{% endblock %}
