{% extends "ui/base_page.html" %}

{% block header_row %}
<div class="col-md-12">
  <h4>
    <a href="{{ urls.account }}">
    {{ user.account.name }} {{ user.account.surname }}
    </a>
  </h4>
</div>
{% endblock %}

{% block script_include %}
  {{ super() }}
  {% assets "bb.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "graph.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "school.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
