{% extends "ui/base_page.html" %}
{% import "ui/facebook.html" as fb %}
{% block subtitle %} {{ _('Exam') }} {% endblock %}

{% block body %}
  {% if user.account.fb_id %}
  {{ fb.async_init(fb_appid) }}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block header_row %}
<div class="col-md-12">
  <h4>{{ _('Exam') }}</h4>
  <div class="pull-right fullscreen"><a href="#" id="btt-fullscreen" class="glyphicon glyphicon-fullscreen"></a></div>
</div>
{% endblock %}

{% block content_class %}exam{% endblock %}
{% block navbar_class %}hidden{% endblock %}

{% block panel_content %}
  <div id="exam-content">
    <img src="{{ url_for('.static', filename='i/exam_header.jpg') }}" class="header hidden-xs">
    <div class="exam-nav">{%- block exam_nav %}{% endblock -%}</div>
    <div class="exam-data">
      <div class="row question">
        <div class="col-sm-4">
          <div class="image">
            <div><a id="image" class="cbox" href="#"><img id="question_image_src" src=""></src></a></div>
          </div>
        </div><!--
    --><div class="col-sm-8">
          <div class="data">
            <div id="number">
              <span>{{ _('Question number') }}</span>
              <span id="val">40</span>
            </div>

            <div class="text-rect">
              <table>
                <tr><td id="text"></td></tr>
                <tr><td id="text-lang"></td></tr>
              </table>
            </div>
          </div> <!-- /text -->

          <div class="answer-rect">
            <div>
              <div>
                <div class="hidden-xs">{{ _('True') }}</div><div class="img-ans true-big" id="true"></div>
              </div>
              <div>
                <div class="hidden-xs">{{ _('False') }}</div><div class="img-ans false-big" id="false"></div>
              </div>
            </div>
            <div class="visible-on-super-small small-screen-ctrl">
              <div id="prev">
                <div class="btt-prev"></div>
              </div>
              <div id="next">
                <div class="btt-next"></div>
              </div>
            </div>
          </div> <!-- /answer-rect -->
        </div> <!-- /col-sm-8 -->
      </div> <!-- /question -->
    </div> <!-- /exam-data -->

    <div class="control">
      <div class="exam-row">
        <div class="cell time">
          <div>
            <span class="title">{{  _('Time available') }}</span>
            <span id="time"></span>
          </div>
        </div>
        <div class="cell info hidden-xs">
          <div class="field">
            <div class="title">{{ _('Exam number') }}</div>
            <div class="val">{{ exam.exam.id }}</div>
          </div>
          <div class="field">
            <div class="title">{{ _('Name and surname') }}</div>
            <div class="val">{{ user.account.name }} {{ user.account.surname }}</div>
          </div>
        </div>
        <div class="cell summary">
          <span>{{ _('Summary') }}</span>
          <div class="btt-summary"></div>
        </div>
        <div class="cell buttons hidden-on-super-small">
          <div id="prev">
            <span>{{ _('Previous question') }}</span>
            <div class="btt-prev"></div>
          </div>
          <div id="next">
            <span>{{ _('Next question') }}</span>
            <div class="btt-next"></div>
          </div>
        </div>
      </div>
    </div> <!-- /control -->

    <div class="summarypanel">
      <div id="answers"><ul></ul></div>

      <div id="buttons" class="row">
        <div class="col-sm-3 col-sm-offset-3">
          <button type="button" class="btn btn-default" id="back">
            <span class="glyphicon icon glyphicon-arrow-left"></span>
            {{ _('Back to questions') }}
          </button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default" id="finish">
            <span class="glyphicon icon glyphicon-ok"></span>
            {{ _('Finish exam') }}
          </button>
        </div>
      </div>

      <div class="field col-sm-4 col-sm-offset-4 hidden-sm hidden-xs">
        <div class="title">{{ _('Exam number') }}</div>
        <div class="val">{{ exam.exam.id }}</div>
      </div>
      <div class="field col-sm-4 col-sm-offset-4 hidden-sm hidden-xs">
        <div class="title">{{ _('Name and surname') }}</div>
        <div class="val">{{ user.account.name }} {{ user.account.surname }}</div>
      </div>
    </div> <!-- /summarypanel -->

    <div class="message-box" id="msgbox"></div>
  </div>

  <div class="img-preload"><div class="img-ans true-big"></div></div>
  <div class="img-preload"><div class="img-ans true-big sel"></div></div>
  <div class="img-preload"><div class="img-ans false-big"></div></div>
  <div class="img-preload"><div class="img-ans false-big sel"></div></div>

  <!-- Templates -->
  <script type="text/template" id="summary-li-tmpl">
    <li id="q<%= index %>">
      <div class="exam-row hdr">
        <div class="cell img"><%= num %></div>
        <div class="cell text">{{ _('Question text') }}</div>
        <div class="cell vf">{{ _('T') }}</div>
        <div class="cell vf">{{ _('F') }}</div>
      </div>
      <div class="exam-row q">
        <div class="cell img"><%= img_tag %></div>
        <div class="cell text"><%= text %></div>
        <div class="cell vf" id="true"></div>
        <div class="cell vf" id="false"></div>
      </div>
    </li>
  </script>

  <script type="text/template" id="summary-img-tmpl">
    <a href="<%= url %>" class="cbox">
      <div style="background-image: url(<%= url %>)"></div>
    </a>
  </script>
{% endblock %}

{% block script_include %}
  {{ super() }}
  {% assets "bb.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets "exam.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}

{% block page_script %}
  var exam = new ExamView({
    el: $(".contentpanel").first(),
    msgbox_el: $("#msgbox"),
    {%- if user.account.fb_id %}
    fb: {{ fb_data|tojson }},
    {% endif %}
    labels: {
      error_send: "{{ _('Error saving exam.') }}",
      done_info: "{{ _('In this exam you made errors: %%(errors)s')|safe }}",
      btt_close: "{{ _('Close') }}",
      btt_back: "{{ _('Back to menu') }}",
      btt_try_again: "{{ _('Try again') }}",
      btt_review: "{{ _('Review answers') }}"
    },
    urls: {{ urls|tojson }},
    exam: {{ exam|tojson }},
    exam_meta: {{ exam_meta|tojson }}
  });
{% endblock %}
