{% extends "ui/base_quiz.html" %}
{% block subtitle %} {{ _('Quiz') }} {% endblock %}
{% block quiz_title %} {{ quiz.title }} {% endblock %}

{% block page_script %}
  var quiz = new QuizView({
    el: $(".contentpanel").first(),
    msgbox_el: $("#msgbox"),
    labels: {
      error_send: "{{ _('Error sending answers.') }}",
      error_get: "{{ _('Error getting questions.') }}",
      done: "{{ _('You have answered all the questions!') }}",
      done_info: "{{ _('In this quiz you made errors: %%(errors)s')|safe }}",
      btt_close: "{{ _('Close') }}",
      btt_back: "{{ _('Back to menu') }}",
      btt_quiz_back: "{{ _('Back to quiz') }}",
      btt_restart: "{{ _('Restart') }}",
      btt_try_again: "{{ _('Try again') }}",
      btt_review: "{{ _('Review answers') }}"
    },
    urls: {{ urls|tojson }},
    data: {{ quiz|tojson }}
  });
{% endblock %}
