{% extends "ui/quiz_base.html" %}
{% block subtitle %} {{ _('Error Review') }} {% endblock %}
{% block content_class %} {{ super() }} review {% endblock %}
{% block quiz_title %} {{ _('Error review') }} {% endblock %}

{%- block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('.static', filename='js/quiz-review.js') }}"></script>
{% endblock %}

{% block page_script %}
  var quiz = new QuizReviewView({
    el: $(".contentpanel").first(),
    back_url: "{{ back_url }}",
    image_url: "{{ image_url }}",
    quiz_url: "{{ quiz_url }}",
    msgbox_el: $("#msgbox-1"),
    labels: {
      error_send: "{{ _('Error sending answers.') }}",
      error_get: "{{ _('Error getting questions.') }}",
      done: "{{ _('You have no questions with wrong answers!') }}",
      done_info: "{{ _('You made errors: %%(errors)s')|safe}}",
      btt_close: "{{ _('Close') }}",
      btt_back: "{{ _('Back to menu') }}",
      btt_quiz_back: "{{ _('Back to review') }}",
      btt_try_again: "{{ _('Try again') }}",
      btt_review: "{{ _('Back to review') }}"
    },
    data: {{ quiz|tojson }}
  });
{% endblock %}
