{% extends "ui/base_page.html" %}

{% block subtitle %}{{ _('Statistics') }}{% endblock %}
{% block content_class %}statistics client{% endblock %}

{% block header_row %}
<div class="col-md-12">
  <h4>
    <a href="{{ account_url }}">
    {{ user.account.name }} {{ user.account.surname }}
    </a>
  </h4>
</div>
{% endblock %}

{% block nav_brand %}
  <a href="{{ back_url }}" class="navbar-brand"><span class="glyphicon glyphicon-arrow-left"></span> <span>{{ _('Back') }}</span></a>
{% endblock %}

{% block script_include %}
  {{ super() }}
  {% assets "stat.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
