{% extends "ui/statistics_base.html" %}

{% block navbar_header_class %}no-button{% endblock %}

{% block stat_content %}
  <div id="examstat">
    <div class="row separator" id="header">
      <div class="col-md-12">{{ _('Exam list') }}</div>
    </div>
    {% for exam in exams %}
    <div class="row examrow" id="exam{{ exam.id }}">
      <div class="col-md-12 exam-title">
        <span class="glyphicon
          {% if exam.status == 'passed' %}
          glyphicon-ok-circle
          {% else %}
          glyphicon-remove-circle
          {% endif %}
        "></span>
        <span class="exam-time">{{ exam.start }}</span>
        <span>{{ _('Exam %(num)d (%(err)d/%(total)d)', num=exam.id, err=exam.errors, total=total) }}</span>
      </div>
    </div>
    <div class="exam-answers" data-exam-id="{{ exam.id }}"></div>
    {% else %}
    <p class="bg-danger footer-space">{{ _('There are no exams.') }} </p>
    {%- endfor -%}
  </div>
{% endblock %}

{% block express_bar_anchor %}#header{% endblock %}
{% block stat_script %}
  window.g.exam_url = "{{ exam_url }}";
  window.g.image_url = "{{ image_url }}";
  var exam_stat = new ExamStat;
{% endblock%}
