#cqcexam {
  overflow: hidden;
  margin:auto;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #888888;
  behavior: url(../PIE.htc); /* IE fix. */
}

#cqcexam > table {
  width: 100%;
  height: 100%;
  font-size: 24px;
}

#cqcexam > table td {
  color: #fff;
  cursor: pointer;
}
.rotate_box {
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
}

.generale {
  background: #779988;
}
.generale.hoverbg:hover {
  background: #6d9280;
}

.merci {
  background: #aacccc;
}
.merci.hoverbg:hover {
  background: #9fc6c6;
}

.persone {
  background: #ccddcc;
}
.persone.hoverbg:hover {
  background: #c2d6c2;
}

#cqcexam > table #generale {
  border: 1px solid #779988;
}
#cqcexam > table #generale:hover {
  border: 1px solid #fff;
  border-radius: 10px;
  behavior: url(../PIE.htc); /* IE fix. */
}
#cqcexam > table #merci {
  border: 1px solid #aacccc;
}
#cqcexam > table #merci:hover {
  border: 1px solid #fff;
  border-radius: 10px;
  behavior: url(../PIE.htc); /* IE fix. */
}
#cqcexam > table #persone {
  border: 1px solid #ccddcc;
}
#cqcexam > table #persone:hover {
  border: 1px solid #fff;
  border-radius: 10px;
  behavior: url(../PIE.htc); /* IE fix. */
}
