{% extends "base_menu_topics.html" %}
{% block content_class %}quiz-menu truck turck{{ quiz_meta.id }}{% endblock %}

{% block head -%}
  {{ super() }}
  <style>
    .turck6 .topics > div ul li {height: 6em}
    .turck8 .topics > div ul li {height: 9em}
    .turck11 .topics > div ul li {height: 15em}

    .area1 {background: #EE82EE;}
    li.area1:hover {background: #ea64ea;}

    .area3 {background: #0000dd;}
    li.area3:hover {background: #0000cc;}

    .area5 {background: #ffff00; color: #2F4F4F;}
    .area5 table, .area5 table a {color: #2F4F4F !important;}
    li.area5:hover {background: #dddd00;}

    .area6 {background: #FF0000;}
    li.area6:hover {background: #dd0000;}

    .area7 {background: #808080;}
    li.area7:hover {background: #6f6f6f;}

    .area8 {background: #1eaade;}
    li.area8:hover {background: #1a93c0;}
  </style>
{% endblock %}

{% block panel_content %}
  <div class="topics row" id="topics">
    <div class="col-xs-4 areas"><ul></ul></div>
    <div class="col-xs-8 slides"></div>
  </div>

  <script type="text/template" id="area-tmpl"><span><%= text %></span></script>

  <script type="text/template" id="page-tmpl">
    <div class="page-wrapper">
      <div class="page-content">
        <table><%= rows %></table>
      </div>
    </div>
  </script>

  <script type="text/template" id="chapter-tmpl">
    <tr><td width="30%" style="text-align:right">{{ _('Chapter') }} <%= chapter_id %></td><td><a href="<%= topic_url %>"><%= topic_text %></a></td></tr>
  </script>

  <script type="text/template" id="topic-tmpl">
    <tr><td></td><td><a href="<%= topic_url %>"><%= topic_text %></a></td></tr>
  </script>

{% endblock %}

{% block page_script %}
  var menu = new QuizMenuView({
    el: $("#topics"),
    urls: {{ urls|tojson }},
    topics: {{ topics|tojson }},
    areas: {{ areas|tojson }}
  });
{% endblock%}
