{% extends "base_menu_client.html" %}
{% block content_class %}menu b{% endblock %}

{% block exam_button %}
  <div>
  <div class="btn-exam">
    <table cellpadding="0" cellspacing="0">
      <tr><td colspan="2" id="it"></td></tr>
      <tr style="height:30px">
        <td id="fr"></td>
        <td id="de"></td>
      </tr>
    </table>
  </div>
  </div>
{% endblock %}

{%- block page_script %}
  {{ super() }}
  $(".btn-exam td").click(function(){
    var lang = $(this).attr("id");
    window.location = "{{ url_for('core2.get_exam') }}?lang=" + lang + "&quiz_type={{ g.quiz_meta.id }}";
  });
{% endblock %}
