RewriteEngine On

RewriteCond %{REQUEST_URI} ^/img/
RewriteRule /img/(.+)$ /static/qimg/$1 [L]

RewriteCond %{REQUEST_URI} ^/static/
RewriteRule /static/(.+)$ /static/$1 [L]

# Backward compatibility.
RewriteCond %{REQUEST_URI} ^/ui/b2013(/)?$
RewriteRule /ui/b2013(/)?$ /ui/b/ [R,L]

# Old frontends

RewriteCond %{REQUEST_URI} ^/b2013/$
RewriteRule /b2013/$ /static/oldfrontend/b2013/index.html [L]

RewriteCond %{REQUEST_URI} ^/b2013/
RewriteRule /b2013/(.+)$ /static/oldfrontend/b2013/$1 [L]

RewriteCond %{REQUEST_URI} ^/cqc/$
RewriteRule /cqc/$ /static/oldfrontend/cqc/index.html [L]

RewriteCond %{REQUEST_URI} ^/cqc/
RewriteRule /cqc/(.+)$ /static/oldfrontend/cqc/$1 [L]
