RewriteEngine On

RewriteCond %{REQUEST_URI} ^/img/
RewriteRule /img/(.+)$ /static/qimg/$1 [L]

RewriteCond %{REQUEST_URI} ^/static/
RewriteRule /static/(.+)$ /static/$1 [L]

# Tmporary solution, must be implemented in the backend.
RewriteCond %{REQUEST_URI} ^/ui/b/2016/$
RewriteRule /ui/b/2016/$ /ui/b/ [L]


# Backward compatibility.
RewriteCond %{REQUEST_URI} ^/ui/b2013(/)?$
RewriteRule /ui/b2013(/)?$ /ui/b/2013/ [R,L]

# Old frontends

RewriteCond %{REQUEST_URI} ^/b2013/$
RewriteRule /b2013/$ /ui/b/2013/ [L]

RewriteCond %{REQUEST_URI} ^/cqc/$
RewriteRule /cqc/$ /ui/cqc/ [L]
