/* Stretch page and it's content fullscreen. */
html, body {
  height: 100%;
}
.page-fill {
  height: 100%;
}
.page-fill .ui-header {
  height: 40px;
}
.page-fill .ui-content {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
}
.page-fill.header .ui-content {
  top: 40px;
}
.page-fill.footer .ui-content {
  bottom: 30px;
}
.page-fill .ui-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

.page-fill .ui-footer .ui-navbar a {
  height: 30px;
  line-height: 30px;
}

.page-fill .ui-footer .ui-btn-inner {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ftable {
  display: table;
  width: 100%;
  height: 100%;
}

.ftable .item {
  display: table-cell;
  float: none;
  vertical-align: middle;
  text-align: center;
}

a.ui-link-inherit {
  white-space: normal !important;
}

div.btt-back, span.btt-back {
  display: inline-block;
  vertical-align: middle;
}

/* Login page. */
#page-login #login {max-width: 400px; margin: auto;}
#page-login h3 {text-align: center;}
#page-login #fullversion {
  text-align: center;
  display: block;
}

/* Student menu. */
#menugrid {
  text-align: center;
}

.rect-button {
  display: block;
  background: #ccc;
  margin: 5px;
  border-radius: 1em 1em 1em 1em;
  cursor: pointer;
  text-decoration:none;
  text-shadow: none;
}

#bttQuiz {color: #ffffff; background-color: #0469cc;}
#bttQuiz:hover {background-color: #0460bb;}
#bttQuiz:active {background-color: #0358ab;}

#bttExam {color: #ffffff; background-color: #c6e2d3;}
#bttExam:hover {background-color: #bbdcca;}
#bttExam:active {background-color: #afd7c2;}

#bttReview {color: #ffffff; background-color: #858589;}
#bttReview:hover {background-color: #7c7c81;}
#bttReview:active {background-color: #747478;}


/* Quiz */
#page-quiz-chapters .ui-content h3 {
  text-align: center;
  color: #0358ab;
}

#chapters .tp {
  text-align: center;
  border: 2px solid #ffffff;
  color: white;
  text-shadow: 0px 1px 0px #0358ab;
  cursor: pointer;
}

#chapters .tp:hover {font-weight: bold;}

#chapters .tp.area1 {background: #c0c0c0;}
#chapters .tp.area1:hover {border: 2px solid #afafaf;}
#chapters .tp.area1:active {background: #b8b8b8;}

#chapters .tp.area2 {background: #00ae00;}
#chapters .tp.area2:hover {border: 2px solid #008c00;}
#chapters .tp.area2:active {background: #009d00;}

#chapters .tp.area3 {background: #9966cc;}
#chapters .tp.area3:hover {border: 2px solid #884dc4;}
#chapters .tp.area3:active {background: #9159c8;}

#chapters .tp.area4 {background: #ffdd00;}
#chapters .tp.area4:hover {border: 2px solid #ddc000;}
#chapters .tp.area4:active {background: #eece00;}

#chapters .tp.area5 {background: #ff6633;}
#chapters .tp.area5:hover {border: 2px solid #ff4d11;}
#chapters .tp.area5:active {background: #ff5922;}

#chapters .tp.area6 {background: #004586;}
#chapters .tp.area6:hover {border: 2px solid #003464;}
#chapters .tp.area6:active {background: #003c75;}

#chapters .tp.area7 {background: #b84747;}
#chapters .tp.area7:hover {border: 2px solid #9f3e3e;}
#chapters .tp.area7:active {background: #ac4242;}


.question-page #image {
  background-image: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.question-page .ui-btn-active {
 background-image: none !important;
 background: none !important;
 border: none !important;
 text-shadow: none !important;
}


.image-button {
  margin-left: auto !important;
  margin-right: auto !important;

  width: 50px !important;
  height: 50px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: auto !important;
}

.image-button .ui-icon {
  font-size: 30px !important;
  float: none !important;
  margin-top: 16px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.image-button.ui-focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.image-button.active {
  background-color: #DFDFDF;
}

.q-left {
  float: left;
}

.q-right {
  float: right;
}

.ans-true {
  background-image: url("../img/true.png");
  float: right;
  right: 10px;
}
.ans-false {
  background-image: url("../img/false.png");
  float: left;
  left: 10px;
}


/* Exam review */

.answers-table {
  margin-left: -15px;
  margin-right: -15px;
  display: table;
}

.answers-table .row {
  display: table-row;
}

.answers-table .cell {
  display: table-cell;
  vertical-align: middle;
  border-bottom:1px solid #ccc;
}

.answers-table .cell img {
  width: 64px;
  margin-right: 2px;
}

.answers-table .cell .result {
  text-align: center;
  color: white;
  width: 14px;
  margin-left: 2px;
  margin-right: 2px;
}

.answers-table .cell .result.good {
  background-color: #468847;
}

.answers-table .cell .result.bad {
  background-color: #b94a48;
}
