/** Global styles for content */

@font-face
{
  font-family: customMyriadFont;
  src: url('../font/MyriadPro-Regular.ttf');
} 
.workareanormal {
  width : 950px; 
  height: 545px; 
  margin: 10px auto;
}

.workareareduced {
  width : 732px; 
  height: 550px; 
  margin: 10px auto;
}

body {
  font-family: customMyriadFont;
  font-size:12px;
  margin:10px;  
  text-align:center;
}

.content-box {
  background: #fff;
  border-radius: 10px;
  padding: 0; 
  margin: auto; 
  box-shadow: 0 0 5px #666; 
  -moz-box-shadow: 0 0 5px #666; 
  -webkit-box-shadow: 0 0 5px #666; 
  width: 520px;
  behavior: url(css/PIE.htc); /* IE fix. */
}

.content-box > .header {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 50px;
  font-size:20px;
  color: #102f68;
  text-align: center;
}

.content-box > .footer {
  text-align: center;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 60px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 1px;
  background: #2579cf;
  background: -moz-linear-gradient(top, #2579cf, #0358ab);
  background: -webkit-linear-gradient(top, #2579cf, #0358ab);
  background: -o-linear-gradient(top, #2579cf, #0358ab);
  background: linear-gradient(top, #2579cf, #0358ab);
  -pie-background: linear-gradient(top, #2579cf, #0358ab);
  behavior: url(css/PIE.htc); /* IE fix. */
}

.content-box a.lustre-button {
  color: #fff;
  text-decoration: none;
}
.content-box a.lustre-button.current {
  text-shadow: 0px 0px 0.3em #FFFFFF;
}
.content-box a.lustre-button:hover {
  text-shadow: 0px 0px 0.3em #FFFFFF;
}

.content-box a.lustre-button-dark {
  color: #102f68;
  text-decoration: none;
}
.content-box a.lustre-button-dark:hover {
  color: #0358ab;
}

.row {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.row > .item, .header > .item, .footer > .item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.hline {
  margin-right: 20px;
  margin-left: 20px;
  border-top: 1px solid #e8ecef;
}

.blueline {
  height: 40px;
  background: #2479cc;
  background: -moz-linear-gradient(top, #2479cc, #0459ac);
  background: -webkit-linear-gradient(top, #2479cc, #0459ac);
  background: -o-linear-gradient(top, #2479cc, #0459ac);
  background: linear-gradient(top, #2479cc, #0459ac);
  -pie-background: linear-gradient(top, #2579cf, #0358ab);
  behavior: url(css/PIE.htc); /* IE fix. */
}

.btt_inline {
  display:inline-block;
  vertical-align:middle;
  margin-left: 2px;
}

a img {border: none; }

/** Navigation row. */
ul.nav {
  display: inline-block;
  overflow: hidden;
  list-style: none;
}
ul.nav li {
  float: left;
  margin-right: 40px; 
}

/** Collapsable list. */
.collapsable-list {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
}
.collapsable-list > li {
  text-align: center;
  background: #2479cc;
  background: -moz-linear-gradient(top, #2479cc, #0459ac);
  background: -webkit-linear-gradient(top, #2479cc, #0459ac);
  background: -o-linear-gradient(top, #2479cc, #0459ac);
  background: linear-gradient(top, #2479cc, #0459ac);
  -pie-background: linear-gradient(top, #2579cf, #0358ab);
  behavior: url(css/PIE.htc); /* IE fix. */
}
.collapsable-list > li > a {
  display: block;
  padding: 0.5em;
}

.collapsable-list > li .row .item {
  color: #fff;
  padding: 0.5em;
}

.collapsable-list > li .row .item:first-child {
  text-align: left;
  width: 80%;
}

/** Content of the collapsable list item. */
.collapsable-list > li > ul {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style: none;
  background: #fff;
  font-size: 12px;
}

.collapsable-list > li > ul > li {
  margin: 0;
  border-right: 20px solid #fff;
  border-left: 20px solid #fff;
  border-top: 1px solid #e8ecef;
}
.collapsable-list > li > ul > li a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  padding-left: 20px;
  color: rgb(16, 47, 104);
}
.collapsable-list > li > ul > li:hover {
  border-right: none;
  border-left: none;
  padding-left: 20px;
  padding-right: 20px;
  background: #2479cc;
  background: -moz-linear-gradient(top, #2479cc, #0459ac);
  background: -webkit-linear-gradient(top, #2479cc, #0459ac);
  background: -o-linear-gradient(top, #2479cc, #0459ac);
  background: linear-gradient(top, #2479cc, #0459ac);
  -pie-background: linear-gradient(top, #2579cf, #0358ab);
  behavior: url(css/PIE.htc); /* IE fix. */
}
.collapsable-list > li > ul > li:hover a {
  color: #fff;
}

.parsley-error {
  background-color: rgb(242, 222, 222) !important;
}
.parsley-error-list {
  display: none !important;
}


/** student.html */
.ibtn {
  width:200px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #888888;
  behavior: url(css/PIE.htc); /* IE fix. */
}
.ibtn:hover {
  border: 1px solid #ccc;
}

#cqcexam {
  overflow: hidden;
  margin:auto;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #888888;
  behavior: url(css/PIE.htc); /* IE fix. */
}

#cqcexam > table {
  width: 100%;
  height: 100%;
  font-size: 24px;
}

#cqcexam > table td {
  color: #fff;
  cursor: pointer;
}
.rotate_box {
  -webkit-transform: rotate(270deg); 
     -moz-transform: rotate(270deg); 
      -ms-transform: rotate(270deg); 
       -o-transform: rotate(270deg); 
          transform: rotate(270deg); 
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
}
#cqcexam > table #generale {
  background: #779988;
  border: 1px solid #779988;
}
#cqcexam > table #generale:hover {
  background: #6d9280;
  border: 1px solid #fff;
  border-radius: 10px;
  behavior: url(css/PIE.htc); /* IE fix. */
}
#cqcexam > table #merci {
  background: #aacccc;
  border: 1px solid #aacccc;
}
#cqcexam > table #merci:hover {
  background: #9fc6c6;
  border: 1px solid #fff;
  border-radius: 10px;
  behavior: url(css/PIE.htc); /* IE fix. */
}
#cqcexam > table #persone {
  background: #ccddcc;
  border: 1px solid #ccddcc;
}
#cqcexam > table #persone:hover {
  background: #c2d6c2;
  border: 1px solid #fff;
  border-radius: 10px;
  behavior: url(css/PIE.htc); /* IE fix. */
}


/** school.html */
.collapsable-list #ctrl {
  position: absolute;
  display: none;
  bottom: 0px;
  right: 0px;
}
.collapsable-list #ctrl > a {
  border-left: 0;
}
.collapsable-list #ctrl > a:hover {
  cursor:pointer;
  text-decoration: underline;
}
.collapsable-list > li > ul > li:hover #ctrl {
  display: inline;
}

/** Add student form */
#school_addstudent .areaheader span {
  border-bottom: 1px solid #e8ecef;
}

#school_addstudent form {
  padding: 0 20px 20px 20px;
}

#school_addstudent form p { position: relative; margin: 10px 10px;}

#school_addstudent fieldset {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#school_addstudent form fieldset p input,
#school_addstudent form fieldset p textarea {
  display: block;
  padding: 4px;
  width: 450px;
  margin: 0;
}

#school_addstudent form fieldset p label {
  width: 380px;
  display: block;
  margin: 5px 5px 5px 6px;
  padding: 0;
}

#school_addstudent form fieldset p textarea {
  padding: 2px;
  width: 404px;
}

#school_addstudent form fieldset p textarea,
#school_addstudent form fieldset p input {
  border: solid 1px #ccc;
}
#school_addstudent form fieldset p label {
  color: #777;
}


/** statistics_school.html */
.chart {
  width: 20px;
  height: 20px;
}

.qimg {
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}


.topicarrow {
  position: relative;
  width: 20px;
  height: 16px;
}
.topicarrow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 5px;
  height: 8px;
  background: #ccc;
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -o-transform: skew(45deg);
  transform: skew(45deg);
}
.topicarrow:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  width: 5px;
  height: 8px;
  background: #ccc;
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -o-transform: skew(-45deg);
  transform: skew(-45deg);

}
.collapsable-list > li > ul > li:hover .topicarrow:before {
  background: #fff;
}
.collapsable-list > li > ul > li:hover .topicarrow:after {
  background: #fff;
}


/* statistics.html */

.collapsable-list > li#exam.iefix {
  background: #fff;
  behavior: none; /* IE fix. */
}
