{% extends "ui/base_menu_quiz.html" %}
{% block content_class %}quiz-menu scooter{% endblock %}

{% block head -%}
  {{ super() }}
  <style>
    .area1 {background: #00ae00;}
    li.area1:hover {background: #009d00;}

    .area2 {background: #9966cc;}
    li.area2:hover {background: #9159c8;}

    .area3 {background: #004586;}
    li.area3:hover {background: #003c75;}

    .area4 {background: #d11a6f;}
    li.area4:hover {background: #b3165f;}

    .area5 {background: #ff6633;}
    li.area5:hover {background: #ff4d11;}

    .area6 {background: #1eaade;}
    li.area6:hover {background: #1a93c0;}
  </style>
{% endblock %}

{% block panel_content %}
  <div class="topics row" id="topics">
    <div class="col-xs-4 areas"><ul></ul></div>
    <div class="col-xs-8 slides"></div>
  </div>

  <script type="text/template" id="area-tmpl"><span><%= text %></span></script>

  <script type="text/template" id="page-tmpl">
    <div class="page-wrapper">
      <div class="page-content">
        <table><%= rows %></table>
      </div>
    </div>
  </script>

  <script type="text/template" id="chapter-tmpl">
    <tr><td width="30%" style="text-align:right">{{ _('Chapter') }} <%= chapter_id %></td><td><a href="<%= topic_url %>"><%= topic_text %></a></td></tr>
  </script>

  <script type="text/template" id="topic-tmpl">
    <tr><td></td><td><a href="<%= topic_url %>"><%= topic_text %></a></td></tr>
  </script>

{% endblock %}

{% block page_script %}
  var menu = new QuizMenuView({
    el: $("#topics"),
    urls: {{ urls|tojson }},
    topics: [
      "Segnali di pericolo",
      "Segnali di precedenza",
      "Segnali di divieto",
      "Segnali di obbligo",
      "Segnali di indicazione",
      "Pannelli integrativi",
      "Segnali orizzontali",
      "Segnali luminosi",
      "Segnali complementari",
      "Segnali temporanei",
      "Precedenza (esemplificazioni)",
      "Velocità",
      "Distanza di sicurezza",
      "Cambio di corsia, cambio di direzione, svolta",
      "Sorpasso",
      "Fermata, sosta, parcheggio",
      "Definizioni stradali",
      "Cause di incidenti",
      "Conoscenze utili per la prevenzione degli incidenti",
      "Assicurazione",
      "Elementi del ciclomotore e loro uso",
      "Casco",
      "Documenti",
      "Comportamenti alla guida del ciclomotore",
      "Responsabilità civile e penale",
      "Educazione alla legalità",
      "Rispetto della vita e comportamento solidale",
      "Salute del conducente",
      "Rispetto dell'ambiente"
    ],
    areas: [
        {text: "Segnaletica stradale", chapters: [[1], [2, 3, 4], [5, 6, 7, 8, 9, 10]]},
        {text: "Norme di comportamento per la circolazione sulla strada", chapters: [[11], [12, 13, 14, 15], [16, 17]]},
        {text: "Sicurezza e prevenzione degli incidenti", chapters: [[18, 19, 20]]},
        {text: "Funzionamento, efficienza ed uso del ciclomotore", chapters: [[21, 22]]},
        {text: "Documenti obbligatori e comportamenti alla guida", chapters: [[23, 24]]},
        {text: "Valore e necessità della regola", chapters: [[25, 26, 27, 28, 29]]}
    ]
  });
{% endblock%}
