{% extends "ui/base_menu_quiz.html" %}
{% block content_class %}quiz-menu b{% endblock %}

{% block panel_content %}
  <div class="topics row" id="topics">
    <div class="col-xs-4 areas"><ul></ul></div>
    <div class="col-xs-8 slides"></div>
  </div>

  <script type="text/template" id="area-tmpl"><span><%= text %></span></script>

  <script type="text/template" id="page-tmpl">
    <div class="page-wrapper">
      <div class="page-content">
        <table><%= rows %></table>
      </div>
    </div>
  </script>

  <script type="text/template" id="chapter-tmpl">
    <tr><td width="30%" style="text-align:right">{{ _('Chapter') }} <%= chapter_id %></td><td><a href="<%= topic_url %>"><%= topic_text %></a></td></tr>
  </script>

  <script type="text/template" id="topic-tmpl">
    <tr><td></td><td><a href="<%= topic_url %>"><%= topic_text %></a></td></tr>
  </script>

{% endblock %}

{% block page_script %}
  var menu = new QuizMenuView({
    el: $("#topics"),
    urls: {{ urls|tojson }},
    topics: [
      "Definizioni stradali e di traffico",
      "Definizioni e classificazione dei veicoli",
      "Doveri del conducente nell'uso della strada - convivenza civile",
      "Riguardo verso gli utenti deboli della strada",
      "Segnali di pericolo",
      "Segnali di divieto",
      "Segnali di obbligo",
      "Segnali di precedenza",
      "Segnaletica orizzontale - Segni sugli ostacoli",
      "Segnalazioni semaforiche",
      "Segnalazioni degli agenti del traffico",
      "Segnali di indicazione",
      "Segnali complementari",
      "Segnali temporanei e di cantiere",
      "Pannelli integrativi dei segnali",
      "Pericolo e intralcio alla circolazione - Comportamenti ai passaggi a livello",
      "Limiti di velocità",
      "Distanza di sicurezza",
      "Norme sulla circolazione dei veicoli",
      "Posizione dei veicoli sulla carreggiata",
      "Cambio di direzione o di corsia (svolta)",
      "Rischi legati alla manovra - campo visivo del conducente",
      "Comportamento agli incroci",
      "Norme sulla precedenza",
      "Comportamento in presenza di cortei - Obblighi verso i veicoli di Polizia e di emergenza",
      "Esempi di precedenza (ordine di precedenza agli incroci)",
      "Norme sul sorpasso",
      "Fermata, sosta, arresto e partenza",
      "Ingombro della carreggiata",
      "Segnalazione di veicolo fermo",
      "Norme sulla circolazione in autostrada e strade extraurbane principali",
      "Trasporto di persone",
      "Carico dei veicoli - Pannelli sui veicoli",
      "Traino dei veicoli e dei veicoli in avaria - Traino dei rimorchi",
      "Rischi nella guida",
      "Uso delle luci - Uso dei dispositivi acustici",
      "Spie e simboli",
      "Equipaggiamento - Cinture e sistemi di ritenuta per bambini",
      "Casco protettivo - Abbigliamento di sicurezza",
      "Patenti di guida",
      "Documenti di circolazione del veicolo",
      "Obbligo verso funzionari ed agenti - Sistema sanzionatorio",
      "Patente a punti",
      "Comportamenti per prevenire incidenti stradali",
      "Peculiarità della guida di motocicli",
      "Comportamento in caso di incidente stradale",
      "Guida in relazione alle condizioni fisiche e psichiche - Alcool, droga e farmaci",
      "Primo soccorso",
      "Responsabilità civile, penale, amministrativa",
      "Assicurazione R.C.A. - Altre forme assicurative legate al veicolo",
      "Limitazione dei consumi - Rispetto dell'ambiente - Inquinamento",
      "Elementi costitutivi del veicolo importanti per la sicurezza - Manutenzione ed uso",
      "Stabilità e tenuta di strada del veicolo",
      "Comportamenti e cautele di guida"
    ],
    areas: [
        {text: "La strada, i veicoli, le persone", chapters: [[1, 2, 3, 4]]},
        {text: "La segnaletica stradale", chapters: [[5], [6], [7], [8], [9], [10, 11], [12], [13, 14], [15]]},
        {text: "Norme di comportamento", chapters: [[16, 17], [18], [19, 20, 21, 22, 23, 24, 25], [26], [27], [28], [29, 30, 31, 32, 33, 34, 35]]},
        {text: "Equipaggiamento dei veicoli", chapters: [[36, 37], [38, 39]]},
        {text: "Documenti", chapters: [[40, 41, 42, 43]]},
        {text: "La sicurezza sulla strada e la prevenzione degli incidenti", chapters: [[44, 45, 46], [47, 48], [49, 50]]},
        {text: "L'ambiente, la tecnica del veicolo, la correttezza di guida", chapters: [[51], [52, 53, 54]]}
    ]
  });
{% endblock%}
