{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block html_attribs %} lang="{{ current_lang }}"{% endblock %}

{% block head -%}
  {{super()}}
  {{fixes.ie8()}}
    {%- set messages = get_flashed_messages() %}
          {%- if messages %}
          <p class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span>{{ messages }} </p>
          {%- endif %}
{% endblock %}

{% block title %}{% block subtitle %}{% endblock %} &mdash;
  {% block title_prefix %}{% endblock %}
  {% if quiz_meta.title %}{{ quiz_meta.title }} {% if quiz_meta.year_in_title %}{{ quiz_meta.year }}{% endif %} &mdash; {% endif %}
  {{ _('Quiz Platform') }}
{%- endblock %}

{% block body %}
  <div id="busy_layer">
    <div>      <!-- table -->
      <div>    <!-- cell -->
        <div>  <!-- box -->
          <img src="{{ url_for('static', filename='i/preloader.gif') }}">
          <br><span>{{  _('Please wait ...') }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bs-example-modal-sm" id="infobox" tabindex="-1" role="dialog" aria-labelledby="infoboxLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
          <h4 class="modal-title" id="infoboxLabel"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>

  {{ super() }}
{% endblock %}

{% block content -%}
  <div class="container {% block content_class %}{% endblock %}">
    {% block container -%}
    {%- endblock -%}
  </div>  <!-- /container -->
{%- endblock %}

{% block styles %}
{{super()}}
  {% assets "ui.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
  {% endassets %}
{%- endblock %}

{% block scripts %}
{{super()}}
  {% block script_include %}
    {% assets "base.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% endblock %}
<script>
    var _LTracker = _LTracker || [];
    _LTracker.push({
        'logglyKey': '{{ config['LOGGLY_KEY'] }}',
        'sendConsoleErrors': true,
        'tag': '{{ "quiz_frontend_prod" if config["PROD"] else "quiz_frontend_test" }}'
    });

</script>
{% endblock %}
