{% extends "base_page.html" %}
{% import "utils.html" as utils %}

{% block subtitle %}{{ _('Menu') }}{% endblock %}
{% block navbar_class %}hidden{% endblock %}
{% block content_class %}menu{% endblock %}

{% block body %}
  {{ utils.fb_async_init(fb_appid) }}
  {{ super() }}
{% endblock %}

{% block header_row %}
<div class="col-md-12">
  <h4>
    <a href="{{ urls.account }}">
    <span>{{ user.account.name }} {{ user.account.surname }}</span>
    </a>
  </h4>
  {{ utils.fullscreen_button() }}
</div>
{% endblock %}

{% block panel_content %}
{% set conf = user.school_config(user['account']['school_id']) %}

<div class="content row">
  <div class="col-sm-4" id="slot_1"></div>
  <div class="col-sm-4" id="slot_2"></div>
  <div class="col-sm-4" id="slot_3"></div>
</div>

<div class="content row" id="second_row">
  <div class="col-sm-4" id="slot_4"></div>
  <div class="col-sm-4" id="slot_5"></div>
  <div class="col-sm-4" id="slot_6"></div>
</div>

<script>
    'use strict';

    // Dynamic buttons ordering based on config stored in redis

    // button templates
    let single_quiz = `
        <a href="{{ url_for('.client_menu_quiz') }}">
           <img id="quiz" class="btn-menu" src="{{ url_for('.static', filename='i/menu-quiz.png') }}">
        </a>
    `;

    let ai_quiz = `
        <a href="{{ url_for('.client_menu_quiz') }}?ai=1">
            <img style="border: 0;" id="quiz" class="btn-menu" src="{{ url_for('.static', filename='i/menu-quiz-ai.png') }}">
        </a>
    `;

    let multi_quiz = `
        <a href="{{ url_for('.client_menu_quiz') }}?multi=1">
            <img style="border: 0;" id="quiz" class="btn-menu" src="{{ url_for('.static', filename='i/menu-quiz-mult.png') }}">
        </a>
    `;

    let exam_button = `
    {% block exam_button %}{% endblock %}
    `;

    let client_review = `
        <a href="{{ url_for('.client_review') }}">
          <img id="quiz" class="btn-menu" src="{{ url_for('.static', filename='i/menu-review.png') }}">
        </a>
    `;

    // redis config
    let conf = {{ conf|tojson }};

    // array of buttons in specific order
    let content = [];


    // we are checking if redis config is not empty. if empty => we use default (single_quiz+exam+error_review)
    if (conf == null || conf['single'])
        content.push(single_quiz);
    if (conf != null && conf['mult'])
        content.push(multi_quiz);
    if (conf != null && conf['ai'])
        content.push(ai_quiz);

    // always showed
    content.push(exam_button);
    content.push(client_review);

    // filling html with buttons
    for (let i = 0; i < content.length; i++){
        window.document.getElementById("slot_"+ (i+1)).innerHTML = content[i];
    }

    // if number of buttons less then 3 we hiding second row
    if (content.length <= 3)
        window.document.getElementById("second_row").style.display = 'none';


</script>
    {% include "cookie_policy_modal.html" %}
{% endblock %}

{% block footer %}
<div class="footer row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"><a href="{{ url_for('.client_statistics') }}" class="button"><span class="glyphicon glyphicon-stats"></span> {{ _('Statistics') }}</a></div>
  <div class="col-sm-3"><a href="#" class="button" id="btt-logout">{{ _('Log out') }} <span class="glyphicon glyphicon-log-out"></span></a></div>
  <div class="col-sm-3">
    {% if not user.account.fb_id %}
    <a href="#" class="button" id="fb-link"><span>{{ _('Connect with') }}</span> <img src="{{ url_for('.static', filename='i/fb-small.png') }}"></a>
    {% endif %}
  </div>
</div>
{% endblock %}

{%- block page_script %}
  $("#btt-logout").click(function() {
    if (parent.logout !== undefined)
      parent.logout();
    else
      window.location = "{{ url_for('.logout') }}";
  });

  {% if not user.account.fb_id %}
    window.g.labels.fb_connect_ok = "{{ _('Your facebook account has been successfully linked!') }}";
    window.g.labels.fb_connect_fail = "{{ _('Unable to link account with Facebook.') }}";
    window.g.link_fb_url = "{{ url_for('api.link_facebook') }}";
    $("#fb-link").click(function() {
      FbAux.linkFbAccount(function() {
        location.reload();
      });
    });
  {% endif %}
{% endblock %}
