{% extends "base.html" %}

{% block container -%}
  <div class="contentpanel">
    <div class="express-bar" id="fixedbar">
      <a href="{% if urls %}{{ urls.back }}{% endif %}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> <span>{{ _('Back') }}</span></a>
      <a href="#" class="btn btn-default" id="gotop"><span class="glyphicon glyphicon-arrow-up"></span> <span>{{ _('Top') }}</span></a>
    </div>
    <div class="header row">{% block header_row %}{% endblock %}</div>
    <div class="hline"></div>
    {% block nav %}
    <nav class="navbar {% block navbar_class %}{% endblock %}" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header {% block navbar_header_class %}{% endblock %}">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">{{ _('Toggle navigation') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block nav_brand %}{% endblock %}
        </div>
        <div class="collapse navbar-collapse" id="navbar">
        {% block navbar_collapse %}
          <ul class="nav navbar-nav navbar-right">
            {% block top_menu %}{% endblock %}
          </ul>
        {% endblock %}
        </div>
      </div>
    </nav>
    {% endblock %}
    {% block panel_content %}{% endblock %}
    {% block footer %}
    <div class="footer-space"></div>
    {% endblock %}

    {% if user.is_guest %}
    <div class="message-box" id="ge-box">
      <div>
        <div>
          <span class="glyphicon icon glyphicon-remove-circle"></span>
          <p>{{ _("Guest's visits is exceeded. Access will be unlocked within 1 hr.") }}</p>
          <div>
            <a type="button" class="btn btn-success" href="{{ url_for('.client_menu') }}">
              <span class="glyphicon glyphicon-arrow-left"></span>
              {{ _('Back to menu') }}
            </a>
          </div>
        </div>
      </div>
    </div> <!-- /guest error box -->
    {% endif %}
  </div>  <!-- /contentpanel -->
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function() {
    {# TODO: translate with flask-babelx #}
    jQuery.extend(jQuery.colorbox.settings, {
      current: "Immagine {current} di {total}",
      previous: "Precedente",
      next: "Successiva",
      close: "Chiudi",
      xhrError: "Errore nel caricamento del contenuto.",
      imgError: "Errore nel caricamento dell'immagine.",
      slideshowStart: "Inizia la presentazione",
      slideshowStop: "Termina la presentazione"
    });

    init_express_bar("#fixedbar", ".contentpanel", "{% block express_bar_anchor %}{% endblock %}");
    $("#gotop").click(function() {
      $("html, body").animate({scrollTop: 0}, 500, "swing");
    });
    window.g = {
      user_type: "{{ user.user_type}}",
      labels: {
        info: "{{ _('Info') }}",
        error: "{{ _('Error') }}"
      }
    };
    moment.locale("{{ current_lang }}");
    if (Aux.getUrlParameterByName("upd") == "1")
      window.location.search = null;

    if (!Aux.canFullscreen() || parent.FullScreen == undefined)
      $("#btt-fullscreen").hide();
    else
      $("#btt-fullscreen").click(parent.FullScreen.toggle);

    if (parent.FullScreen !== undefined)
      parent.FullScreen.applyIFrameClass();

    $("body > .container").show();

    {%- block page_script %} {% endblock %}
  });
</script>
{% endblock %}


{% block head -%}
  {{super()}}
  <script>
    function fireFullscreenChanged(state) {
     $("html").trigger("fullscreenChanged", state);
    }
  </script>
{% endblock %}
