{% extends "base_page_school.html" %}

{% block subtitle %}{{ _('Statistics') }}{% endblock %}
{% block content_class %}statistics school{% endblock %}

{% block top_menu %}
  <li class="active" data-period="current"><a href="#">{{ _('Recent') }}</a></li>
  <li data-period="week"><a href="#">{{ _('Last week') }}</a></li>
  <li data-period="week3"><a href="#">{{ _('Previous') }}</a></li>
{% endblock %}

{% block nav_brand %}
  <a href="{{ urls.back }}" class="navbar-brand"><span class="glyphicon glyphicon-arrow-left"></span> <span>{{ _('Back') }}</span></a>
{% endblock %}

{% block panel_content %}
  <div id="schoolstat">
    <div class="row separator" id="header"><div class="col-md-12">{{ _('Statistics') }}</div></div>
    <div class="tablerow">
      <div class="content">
        <div class="cell"> {{ _('Guest visits') }}</div>
        <div class="cell" id="visits">0</div>
      </div>
    </div>
    <div class="tablerow">
      <div class="content">
        <div class="cell"> {{ _('Exam statistics: a greater blue sector of the graph, the better the preparation') }}</div>
        <div class="cell"><div id="examgraph" class="center-block"></div></div>
      </div>
    </div>
    <div id="rating">
      <div class="row separator"><div class="col-md-12">{{ _('Best students') }}</div></div>
      <div id="best"></div>
      <div class="row separator"><div class="col-md-12">{{ _('Worst students') }}</div></div>
      <div id="worst"></div>
    </div>
    <div class="row separator"><div class="col-md-12">{{ _('Topic statistics: a greater blue sector of the graph, the better the preparation') }}</div></div>
    <div id="topics"></div>
  </div>

  <!-- Templates -->
  <script type="text/template" id="topic-tmpl">
    <div class="tablerow">
      <div class="content">
        <div class="cell text"><%= text %></div>
        <div class="cell"><div class="center-block graph"></div></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="client-tmpl">
    <a class="tablerow" href="#" id="<%= id %>">
      <div class="content">
        <div class="cell"><%= fullname %></div>
      </div>
    </a>
  </script>
  <script type="text/template" id="client-empty-tmpl">
   <div class="row empty"><p class="col-md-12 text-muted">{{ _('<Empty>') }}</p></div>
  </script>

{% endblock %}

{% block express_bar_anchor %}#header{% endblock %}
{% block page_script %}
  var stat = new SchoolStatView({
    el: $(".contentpanel"),
    stat: {{ stat|tojson }},
    urls: {{ urls|tojson }}
  });
{% endblock%}
