{% extends "base_page.html" %}
{% import "utils.html" as utils %}

{% block subtitle %}{{ _('Exam review') }}{% endblock %}
{% block navbar_header_class %}no-button{% endblock %}
{% block content_class %}exam-review{% endblock %}

{% block header_row %}
<div class="col-md-12">
  <h4>{{ _('Exam review') }}</h4>
  {{ utils.fullscreen_button() }}
</div>
{% endblock %}

{% block nav_brand %}
  <a href="{{ urls.back }}" class="navbar-brand"><span class="glyphicon glyphicon-arrow-left"></span> <span>{{ _('Back') }}</span></a>
{% endblock %}

{% block panel_content %}
  <div id="exam-answers">
    <div class="row separator" id="header">
      <div class="col-md-12">{{ _("List of answers.") }}</div>
    </div>
    {%- for question in exam.questions %}
    <div class="tablerow">
      <div class="content">
        <div class="cell">
          {%- if question.image %}
            {%- set url =  url_for('img_file', filename='%s.jpg' % question.image) %}
            <a href="{{ url }}" class="cbox" rel="gallery"><img src="{{ url }}"></a>
          {% endif -%}
        </div>
        <div class="cell">
          <span class="question-id">{{ question.id }}</span>
          {{ question.text }}
        </div>
        <div class="cell">
            {% if not question.is_correct and question.explanation %}
                <a href="javascript:void(0);"><span class="exam_expl_butt" data-id="{{ question.id }}"></span></a>
            {% endif %}
            <span class="question-answer {%- if question.is_correct %} correct {%- else %} wrong {%- endif %}">
          {%- if question.answer == 1 %} V {% else %} F {% endif -%}
        </span></div>
      </div>
      <div class="exam_expl_wrap {{ question.id }}_expl">{{ question.explanation }}</div>
    </div>
    {%- endfor -%}
  </div>
{% endblock %}

{% block express_bar_anchor %}#header{% endblock %}
{%- block page_script %}
  $("a.cbox").colorbox();

    $(".exam_expl_butt").on('click', function () {
        el = $(this);
        //question id
        q_id = el.attr('data-id');

        el.toggleClass('active');
        if (el.hasClass('active')){
            $('.'+q_id+'_expl').slideDown('fast')
        }else {
            $('.'+q_id+'_expl').slideUp('fast')
        }
    })
{% endblock %}
