{% macro fb_async_init(appid, callback=None) -%}
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{ appid }}',
        xfbml      : true,
        status     : true,
        version    : 'v2.0'
      });

      {%- if callback %}
      {{ callback }}();
      {% endif -%}
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
{%- endmacro %}

{% macro fullscreen_button() -%}
  <div class="pull-right fullscreen hidden-xs"><a href="#" id="btt-fullscreen" class="glyphicon glyphicon-fullscreen"></a></div>
{%- endmacro %}
