{% extends "base.html" %} {% block styles -%} {{super()}}
<style>
    .grid-container {
        display: grid;
    }

    .grid-container--fill {
        grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
        grid-gap: 10px;
    }

    .grid-element {
        {#background-color: rgb(255, 255, 255);#}
        padding: 5px;
        {#color: #fff;#}
        border: 1px solid #fff;
        text-align: center;
        vertical-align: middle;
    }

    .page-content-wrapper {
        padding: 1em;
    }

    hr {
        margin: 10px;
    }

</style>

{%- endblock %}

{% block body %}

{% for key, value in data.iteritems() if key != 'status' %}
    <h3>{{ key }}</h3>
    <hr>
    <div class="grid-container grid-container--fill">
        {% for each in value %}
{#        <div class="grid-element">{{ each | safe }}</div>#}
{#        <div class="grid-element"><video controls="" name="media" width="300"><source src="http://{{ hostname }}/content/{{ each }}.mp4" type="video/mp4"></video></div>#}
            <div class="grid-element"><a target="_parent" href="http://{{ hostname }}/video-lezioni/player/{{ each[0] }}"><img border="0" alt="Videothumb" src="http://{{ hostname }}/video-lezioni/images/db/{{ each[0] }}" width="315" height="256"></a><br><div style="text-align: center; font-size: large">{{ each[1] }}</div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
    <br>
    <br>
    <script type="text/javascript" src="{{ url_for('static', filename='js/iframeResizer.contentWindow.min.js') }}"></script>


{% endblock %}